*{
box-sizing: border-box;
margin: 0;
padding: 0%;
border: 1px deepskyblue;
}
.myheader{    
    border: solid yellowgreen 10px;
    padding: 5px;
    background-color: darkolivegreen;
}
.myaboutme{
    border: solid indigo 10px;
    padding: 5px;
    background-color: darkred;
    font-size: 25px;
    text-align: center;

}
.firstimg{
    border: solid yellow10px;
    background-color: white;
    float: right;

}
.myresume{
    border: solid violet 10px;
    padding: 5px;
    background-color: wheat;
    font-size: 20px;
    text-align: left;
}
.myvideo {
    border: solid pink 10px;
    padding: 5px;
    background-color: orangered;
}
.contactform{
    border: solid navy 10px;
    background-color: rgb(255, 173, 20)
    ;
    float: right;

}

.myfooter{
    border: solid rgb(17, 20, 10) 10px;
    padding: 5px;
    background-color: purple;
}
.contactform:focus {
 type="button"
    background-color: orange;
    color: orangered;
}